# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
*.csv
*.tar.gz
*.txt
*.xls
mpt.db

/rocksdb/
dump.rdb
# Build
.fbchaind
.fbchaincli
vendor*
build
build/fbchaincli
build/fbchaind
tools/
tools/bin/*
examples/build/*
docs/_build
docs/tutorial
dist
tools-stamp
doc

# Data - ideally these don't exist
baseapp/data/*
client/lcd/keys/*
cmd/fbchaincli/statik/statik.go
mytestnet
doc/statik/statik.go
dev/cache
cmd/launch/launch
cmd/fbchaincli/fbchaincli
cmd/fbchaind/fbchaind
cmd/exchaintool/exchaintool
cmd/tiger/tiger
cmd/fbchaind/testnet_fibochain.go
dev/testnet/cache
testnet_exchain.go
tools


# Testing
coverage.txt
profile.out
profile.cov
profile_tmp.cov
coverage.html
unittest

# Vagrant
.vagrant/
*.box
*.log
*.json
vagrant

# IDE
.idea/
*.iml
*.yaml

# Graphviz
dependency-graph.png

# Latex
*.aux
*.out
*.synctex.gz
contract_tests/*
dev/cache/*
result.txt
ethermint
_cache_evm
dump.rdb